version: "3.9"

services:
  backend:
    build: .
    container_name: gamebox-back
    restart: always
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    networks:
      - backend-net

  mongo:
    image: mongo:6
    container_name: gamebox-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - backend-net

networks:
  backend-net:

volumes:
  mongo_data:
